@font-face {
  font-family: 'Tauri';
  font-style: normal;
  font-weight: 400;
  src: local('Tauri Regular'), local('Tauri-Regular'), url(http://fonts.gstatic.com/s/tauri/v4/gsuDYAnj1N7XJK5uU8UsyqCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
